/* Reset default margin and padding */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

/* Basic styles for header */
header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #2980b9;
    /* Adding a border to the bottom */

}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Main content styles */
main {
    padding: 20px;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

/* Footer styles */
footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}