

body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}


header {
    background-color: rgb(192, 142, 43);
    padding-top: 1.5em;
    padding-bottom: 1em;
  }




main {
    padding: 20px;
}


section {
    margin-bottom: 30px;
}


footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 10px;
}


body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}


.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}


section {
    margin-bottom: 30px;
}


#over  {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

#over h2 {
    color: #333;
    margin-bottom: 20px;
}

#over p {
    color: #555;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

